<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!--<link rel="icon" href="<%= BASE_URL %>favicon.ico" />-->
    <title>Highway to stop smoking</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but "Highway to stop smoking" doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <!--<div class="row cyan lighten-3">
      <div class="col s4">
        <a class="btn">Conseils</a>
      </div>

      <div class="col s4">
        <a class="btn">A propos</a>
      </div>

      <div class="col s4">
        <a class="btn">Se déconencter</a>
      </div>-->
      
    </div>

  </body>
</html>
