<template>
    <div class="grey-text">

        <h3>Qui sommes nous ?</h3>

        <div class="row left s12 m12">
                    <section>
                        <h5>L'équipe de développement</h5>
                    </section>
                    <p>
                        Nous sommes un groupe d'étudiants aux capacités variées ayant décidé de les mettre en commun pour réaliser un projet que
                        nous considérons comme un projet d'intérêt public, pour préserver voire améliorer la santé des gens.
                    </p>
        </div>

        <div class="row left s12 m12">
            <div class="col m12 ">
                    <section>
                        <h5>Notre  projet</h5>
                    </section>
                    <p>
                        Il est bien connu que faire du sport aide à améliorer sa santé. Il est en revanche moins connu que le sport est une méthode très efficace pour diminuer 
                        ou bien arrêter totalement sa consommation de tabac. C'est donc dans ce but que nous avons décidé de créer cette application : un moyen de suivre ses efforts
                        dans le combat contre le tabac par le biais de statistiques, et d'exercices qui aident à réduire le besoin d'en consommer. Nous avons également souhaité rendre
                        cette application simple d'utilisation : les efforts réalisés par les utilisateurs sont monitorés par leur montre connectée, qui permet l'ajustement en temps réel 
                        des statistiques ainsi que des exercices proposés. Nous proposons également par le biais de cette application d'évaluer l'addiction de l'utilisateur par un test 
                        très simple, renouvelable à volonté.
                    </p>
            </div>
        </div>

        <Navbar/>
    </div>
</template>

<script>
    //import { db } from "../firebase";
    import Navbar from "./Navbar";
    export default {
        name: "Apropos",
        components: {
            Navbar
        },
        methods:{

        },
        computed: {

        }
    }
</script>

<style scoped>
    h5{
        display:inline-block;
        margin-top:8%;
        vertical-align:top;
    }
    img{
        display:inline-block;
        width: 15%;
        padding: 2%; 
        border-right: solid 3px;
        margin: 2%;
        background-color: rgb(214,214,214);
    }
</style>