<template>
<div class="grey-text">
<h2> Conseil du jour</h2>

<h5>{{conseil}}</h5>


<Navbar></Navbar>
</div>
</template>
<script>
//import * as firebase from "firebase";
import { db } from "../firebase";
import Navbar from "./Navbar";
export default {
      name: "Conseil",
  firestore() {
    return {
      conseils: db.collection("conseils")
    };
  },
  components: {
    Navbar
  },
  methods: {

      getConseil() {
          
      }

    },
  computed: {
    conseil : function(){
        return new Object(this.conseils[0]).Conseil;
    }
  }
}
</script>

<style scoped>

</style>

