<template>
  <div class="grey-text">
    <template>
      <div class="container">
      <h5> Pour estimer votre addiction au tabac et affiner vos recommendations d'exercices et statistiques, veuillez remplir le questionnaire ci-dessous</h5>

      <div id="form">
          <p>
            <label>
         <input type="checkbox" value="q1" v-model="checked"/>
         <span>Vous avez déjà essayé d'arrêter le tabac</span>
            </label>
         </p>


          <p>
            <label>
         <input type="checkbox" value="q2" v-model="checked">
         <span>Vous fumez car il est difficile pour vous d'arrêter</span>
         </label>
         </p>
         <p>
           <label>
         <input type="checkbox" value="q3" v-model="checked">
         <span>Vous vous êtes déjà senti "addict" au tabac</span>
         </label>
         </p>

          <p>
            <label>
         <input type="checkbox" value="q4" v-model="checked">
         <span>Vous avez déjà senti un fort besoin de fumer</span>
         </label>
         </p>
          <p>
            <label>
         <input type="checkbox" value="q5" v-model="checked">
         <span>Vous avez déjà ressenti le besoin d'avoir réellement une cigarette</span>
         </label>
         </p>
<p>
  <label>
         <input type="checkbox" value="q6" v-model="checked">
         <span>Il est difficile de rester dans des endroits dans lesquels vous ne pouvez pas fumer</span>
         </label>
         </p>
<p>
  <label>
         <input type="checkbox" value="q7" v-model="checked">
         <span>Quand vous essayez de ne pas fumer, il est difficile de vous concentrer</span>
         </label>
         </p>
<p>
  <label>
         <input type="checkbox" value="q8" v-model="checked">
         <span>Quand vous essayez de ne pas fumer, vous vous sentez plus irritable</span>
         </label>
         </p>
<p>
  <label>
         <input type="checkbox" value="q9" v-model="checked">
         <span>Quand vous essayez de ne pas fumer, vous avez une pulsion qui vous pousse à fumer</span>
         </label>
         </p>
<p>
  <label>
         <input type="checkbox" value="q10" v-model="checked">
         <span>Quand vous essayez de ne pas fumer, vous vous sentez nerveux ou agité</span>
         </label>
         </p>
        

        <button class="button" @click="signup">Valider</button>
      </div>
      </div>
    </template>
    <Navbar/>
  </div>
</template>

<script>
//import * as firebase from "firebase";
import { db } from "../firebase";
import Navbar from "./Navbar";

export default {
  value: "Dépendance",
  data(){
    return{
     checked : []
  }},
  components:{Navbar},
  methods: {
    signup(){
      let dataToPush=[];
      this.checked.forEach(element => {
        if(typeof(element)=="string")
          dataToPush.push(element);
      });

      db.collection("addiction").doc("8RdfUYaQgONOdWsuwGdc").update({checks : dataToPush.toString()}).then(() =>{
        
        this.$router.replace({ name: "master" });
      }).catch(function(error) {
    console.error("Error adding document: ", error);
});

      
    }
    
  },
  computed: {
    
}

};
</script>

<style scoped>

button {
  margin-top: 2em;
  padding: 0.6em;
  border-radius: 5px;
  background: #41b883;
  color: white;
  border: none;
  width: 60%;
}
button:disabled {
  opacity: 0.7;
}

a {
  margin-top: 2em;
  color: white;
  font-size: 0.8em;
}
a:hover {
  color: #41b883;
}

span {
  text-decoration: underline;
  font-size: 1.3em;
}

.error {
  color: tomato;
}
.success {
  color: yellowgreen;
}
</style>