<template>
<div class="grey-text">
<h2> Vos exercices</h2>


<div class="row">
    <p>Cette section va vous permettree d'accéder aux exercices que nous vous proposons de réaliser pendant votre combat contre la cigarette.
      En passant le test proposé dans le menu principal, nous pouvons vous proposer des exercices qui seront plus adaptés à votre consommation de tabac.
    </p>
    <p>Nous utiliserons votre montre connectée pour mesurer votre effort et estimer les effets de ceux-ci.</p>
</div>

<div class="row">
Vous pouvez accéder aux exercices en fonction de leur durée : 
</div>


<div class="collection">
<router-link to="/exo/1" class="collection-item">Moins de 1h</router-link>
<router-link to="/exo/2" class="collection-item">Entre 1h et 2h</router-link>
<router-link to="/exo/3" class="collection-item">Plus de 2h</router-link>
</div>

<Navbar></Navbar>
</div>
</template>
<script>
//import * as firebase from "firebase";
//import { db } from "../firebase";
import Navbar from "./Navbar";
export default {
      name: "Exercices",
  firestore() {
    
  },
  components: {
    Navbar
  },
  methods: {
    },
  computed: {
    
  }
}
</script>

<style scoped>

</style>

