<template>
    <div class="grey-text">
        <h3>{{exo.title}}</h3>
        <h4>Durée : {{duree}}</h4>
        <p> {{exo.exo}}</p>
        <Navbar></Navbar>
    </div>
</template>

<script>
//import * as firebase from "firebase";
import { db } from "../firebase";
import Navbar from "./Navbar";
import Exercice from "../models/Exercice";
export default {
      name: "Exo_detail",
  firestore() {
    return{
    exercices : db.collection("Exercices")
    }
  },
  components: {
    Navbar
  },
  methods: {

    },
  computed: {
    exo(){
      let exo_db = this.exercices;
      let exercice;
      exo_db.forEach(obj => {
        let tmp = new Object(obj);
        
        if(tmp.time == this.$route.params.id){
          exercice = new Exercice(tmp.titre,tmp.exercice,parseInt(tmp.time));
        }
      });
      return exercice;
    },
    duree(){
      return this.exo.return_duree();
    }
  }
}
</script>

<style scoped>

</style>

