<template>
  <div>

      <template v-if="user.loggedIn">
      <!--  <div class="display-name">{{user.data.displayName}} est connecté</div>
        <button class="nav-link signout" @click.prevent="signOut">Se déconnecter</button> -->
        
        <div>
      <div class="row grey-text">
      <h3> Bienvenue, {{user.data.displayName}}</h3>
      </div>

      <div class="row center m12">
        <h5 class="grey-text">Notre application a pour but de vous proposer conseils et exercices physiques dans l'optique de vous aider à réduire votre consommation de tabac
        </h5>
      </div>

      <div class="row center m12">
        <h5 class="grey-text">Vous pouvez accéder aux différentes fonctionnalités de cette application à partir de cette page, ou par le biais du menu de navigation se trouvant
          en bas de cette page. N'hésitez pas à tester votre addiciton au tabac via notre test pour nous permettre de vous proposer des exercices personnalisés.
        </h5>
      </div>
    <div class="container">
      <div class="row center s12 m12">
    <div class="col m12 ">
      <div class="card">
        <div class="teal card-content white-text">
          <span class="card-title">Conseils</span>
          <p>Obtenez des conseils personnalisés en fonction de votre activité physique récente</p>
        </div>
        <div class="card-action cyan-text">
          <router-link class="teal-text" to="/conseil">Obtenir des conseils</router-link>
        </div>
      </div>
    </div>
  </div>

  <div class="row center s12 m12">
    <div class="col m12 ">
      <div class="card">
        <div class="green card-content white-text">
          <span class="card-title">Exercices</span>
          <p>Visionnez les exercices que nous vous proposons</p>
        </div>
        <div class="card-action cyan-text">
          <router-link class="green-text" to="/exercices">Visionnez les exercices</router-link>
        </div>
      </div>
    </div>
  </div>

  <div class="row center s12  m12">
    <div class="col m12 ">
      <div class="card">
        <div class="blue card-content white-text">
          <span class="card-title">Statistiques</span>
          <p>Visualisez vos statistiques sur différentes périodes</p>
        </div>
        <div class="card-action cyan-text">
          <router-link class="blue-text" to="/stats">Voir mes statistiques</router-link>
        </div>
      </div>
    </div>
  </div>

  <div class="row center s12 m12">
    <div class="col m12 ">
      <div class="card">
        <div class="purple accent-4
           card-content white-text">
          <span class="card-title">Test</span>
          <p>Testez votre addiction pour affiner vos recommandations</p>
        </div>
        <div class="card-action cyan-text">
          <router-link class="purple-text" to="/dependance">Accéder au test</router-link>
        </div>
      </div>
    </div>
  </div>
  
    
      <div class="row center s12 m12">
    <div class="col m12 ">
      <div class="card ">
        <div class="orange card-content white-text">
          <span class="card-title">A propos</span>
          <p>Découvrez l'équipe à l'origine de ce projet !</p>
        </div>
        <div class="card-action">
          <router-link to="/apropos">Informations</router-link>
        </div>
      </div>
    </div>
  </div>
<div class="row center s12 m12">
    <div class="col m12 ">
      <div class="card ">
        <div class="red card-content white-text">
          <span class="card-title">Se déconnecter</span>
          <p>Cliquez ici pour vous déconnecter</p>
        </div>
        <div class="card-action">
          <router-link class="red-text" to="/signout">Déconnexion</router-link>
        </div>
      </div>
    </div>
  </div>

  </div>
        </div>











      </template>
 
<Navbar></Navbar>

  </div>



</template>

<script>
//import Country from "./Country";
import { mapGetters } from "vuex";

import * as firebase from "firebase";
//import { db } from "../firebase";
import Navbar from "./Navbar";

export default {
  name: "Master",
  
  components: {
    Navbar
  },
  methods: {
    signOut() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.replace({
            name: "signin"
          });
        });
    }
  },
  computed: {
    
    // map `this.user` to `this.$store.getters.user`
    ...mapGetters({
      user: "user"
    })
  }
};
</script>

<style scoped>
header {
  width: 100%;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
button.nav-link.signout {
  padding: 0.4em;
  background-color: tomato;
  color: white;
  text-align: center;
  border-radius: 5px;
  border: none;
}
.display-name {
  margin-right: 2em;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: grey;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-style: solid;
  border: 10px;
  border-color: blanchedalmond;
  display:inline-block;
}
.navbar>a{
    border: 10px;
  border-color: blanchedalmond;
  display:inline-block;
}
/* Change the color of links on hover */
.navbar a:hover {
  background-color: white;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: rgb(105, 241, 110);
  color: white;
}

.liste{
  text-align: center;
}

.card{
  width : 100%;
}

</style>
