<template>
    

<div class=" navbar">

  <div class="valign-wrapper">
      <div class="col s3">
      <router-link to="/main"> <i class="material-icons small">home</i>Acceuil</router-link>
      </div>
      <div class="col s3">
        <router-link to="/exercices" > <i class="material-icons small">directions_run</i>Exercices</router-link>
        </div>
       <div class="col s3">
        <router-link to="/stats" > <i class="material-icons small">timeline</i>Stats</router-link>
        </div>
        <div class="col s3">
        <router-link to="/conseil"><i class="material-icons small">chat_bubble</i>Conseils</router-link>
        </div>
       <!--<div class="col s3"><router-link to="/apropos" ><i class="material-icons small">mail</i>A propos</router-link></div> -->
  </div>
</div>

</template>
<script>
export default {
      name: "Navbar",
  components: {
    
  },
  methods: {
    },
  computed: {
    
  }
}
</script>




<style scoped>
.navbar {
  background-color: grey;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-style: solid;
  border: 10px;
  border-color: blanchedalmond;
  display:inline-block;
  margin: auto;
}
.navbar>a{
    border: 10px;
  border-color: blanchedalmond;
  display:inline-block;
}
/* Change the color of links on hover */
.navbar a:hover {
  background-color: white;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: rgb(105, 241, 110);
  color: white;
}

.liste{
  text-align: center;
}
</style>