<template>
  <div>
    
    <template v-if="success==''">

      <header>
      <h1>
Highway to stop smoking
      </h1>
    </header>
      <form action="#" @submit.prevent="signup">
        <div class="error" v-if="error">{{error}}</div>

        <input
          v-model.trim="user.firstname"
          type="text"
          name="prenom"
          placeholder="Prénom"
          required
        />


        <input
          v-model.trim="user.email"
          type="email"
          name="email"
          placeholder="Adresse email"
          required
        />

        <input
          v-model.trim="user.password"
          type="password"
          name="pass"
          placeholder="Mot de passe"
          required
        />

        <button :disabled="!form_is_completed" type="submit" class="button">S'inscrire</button>
      </form>
    </template>
    <template v-else>
      <div class="success" v-if="success">{{success}}</div>
    </template>
    <router-link class="grey-text" to="/signin">
      <span>Se connecter</span>
    </router-link>
    
  </div>
</template>

<script>
import * as firebase from "firebase";

export default {
  name: "Signup",
  data() {
    return {
      user: {
        email: "",
        password: "",
        firstname: "",
        lastname: ""
      },
      error: "",
      success: ""
    };
  },
  methods: {
    reset() {
      this.user = {
        email: "",
        password: "",
        firstname: "",
        lastname: ""
      };
    },
    signup() {
      this.error = "";
      this.success = "";

      firebase
        .auth()
        .createUserWithEmailAndPassword(this.user.email, this.user.password)
        .then(data => {
          data.user
            .updateProfile({
              displayName:
                this.$options.filters.capitalize(this.user.firstname) +
                " " +
                this.$options.filters.capitalize(this.user.lastname)
            })
            .then(() => {
              this.reset();
              this.error = "";
              this.success = `Compte créé pour ${data.user.displayName}, veuillez-vous connecter.`;
            });
        })
        .catch(err => {
          this.error = err.message;
        });
    }
  },
  computed: {
    form_is_completed() {
      return (
        this.user.prenom !== "" &&
        this.user.email !== "" &&
        this.user.pass !== ""
      );
    }
  }
};
</script>

<style scoped>
header {
  font-size: 2em;
  color: #41b883;
  width: 100%;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 18em;
  width: 30%;
}

button {
  margin-top: 2em;
  padding: 0.6em;
  border-radius: 5px;
  background: #41b883;
  color: white;
  border: none;
  width: 80%;
}
button:disabled {
  opacity: 0.7;
}

a {
  margin-top: 2em;
  color: white;
  font-size: 0.8em;
}
a:hover {
  color: #41b883;
}

span {
  text-decoration: underline;
  font-size: 1.3em;
}

.error {
  color: tomato;
}
.success {
  color: yellowgreen;
}
</style>