<template>
<div class="grey-text">
<h2> Vos statisiques</h2>


<div class="row">
    <h5>Objectif personnel : économisez <b class="blue-text"> 8 cigarettes</b> par jour.</h5>
    <p>Aujourd'hui, vous avez économisé l'équivalent de <b class="green-text"> 7 cigarettes </b>. Cela représente une économie de <b class="red-text">4 euros</b> pour un paquet de 20 unités rien que pour aujourd'hui.</p>
    <p> C'est un résultat très encourageant, continuez vos efforts ! </p>

</div>

<div class="row">
Vous pouvez visualiser vos statisiques sous forme de graphe : 
</div>


<div class="collection">
<router-link to="/details/1" class="collection-item">Sur la semaine</router-link>
<router-link to="/details/2" class="collection-item">Sur le mois</router-link>
<router-link to="/details/3" class="collection-item">Sur l'année</router-link>
</div>

<Navbar></Navbar>
</div>
</template>
<script>
//import * as firebase from "firebase";
//import { db } from "../firebase";
import Navbar from "./Navbar";
export default {
      name: "Conseil",
  firestore() {
    
  },
  components: {
    Navbar
  },
  methods: {
    },
  computed: {
    
  }
}
</script>

<style scoped>

</style>

