<template>
    <div class="grey-text">
        <h1>{{periode}}</h1>
        <Chart :chart-data="dataclope"></Chart>
        <Chart :chart-data="datasport"></Chart>
        <Navbar></Navbar>
    </div>
</template>

<script>
//import * as firebase from "firebase";
import { db } from "../firebase";
import Navbar from "./Navbar";
    import Chart from "./Chart";

export default {
      name: "Stats_details",
  firestore() {
    return {
      DBdonnees: db.collection('donnees').orderBy('date','desc')
    };
  },
        components: {
      Chart,
    Navbar
        },
        data(){
          return{
            dataclope: null,
            datasport:null,
            data:[]
          }
        },
        mounted() {
             let data= [];
             let fillData_ref = this.fillData;
            db.collection("donnees").get().then(function(querySnapshot) {
              querySnapshot.forEach(function(doc) {
                data.push(doc.data());
                });
              fillData_ref(data);
             });

        },
        methods: {
          fillData(data){

              data.sort((a, b) => {
                if (a.date > b.date) {
                   return 1
                } else if (a.date < b.date) {
                   return -1
                } else {
                   return 0
                }
              });
              let dataclope = data.map(e => e.clope);
              let datasport = data.map(e => e.duree);


              let dates = data.map(e => e.date);
              let datelabel = dates.map(e => {
                return new Date(e.seconds*1000).toJSON().slice(5,10).replace(/-/g,'/');
              });

              let toDisplayWeek = datelabel.reverse().splice(0,7).reverse();

              switch(this.$route.params.id){
                  case "1":
                    this.dataclope={
                        labels:toDisplayWeek,
                        datasets:[{
                          label:'Nombre de cigarettes économisées',
                          backgroundColor: '#f8c979',
                          data: dataclope.splice(0,7).reverse()
                        }]
                    };
                    this.datasport={
                        labels:toDisplayWeek,
                        datasets:[{
                          label:"Nombre d'heures de sport effectuées",
                          backgroundColor: '#f87979',
                          data: datasport.splice(0,7).reverse()
                        }]
                    };
                    break;
                  case "2":
                    this.dataclope={
                        labels:["04/08","04/09","04/10","04/11","04/12","04/13","04/14","04/15","04/16","04/17","04/18","04/19","04/20","04/21","04/22","04/23","04/24","04/25","04/26","04/27","04/28","04/29","04/30","05/01","05/02","05/03","05/04","05/05","05/06","05/07","05/08","05/09"],
                        datasets:[{
                          label:'Nombre de cigarettes économisées',
                          backgroundColor: '#f8c979',
                          data: [8,7,14,10,8,11,7,8,9,14,11,12,9,10,5,8,18,12,11,11,8,7,9,12,3,10,2,3,2,6,4,4]
                        }]
                    };
                    this.datasport={
                        labels:["04/08","04/09","04/10","04/11","04/12","04/13","04/14","04/15","04/16","04/17","04/18","04/19","04/20","04/21","04/22","04/23","04/24","04/25","04/26","04/27","04/28","04/29","04/30","05/01","05/02","05/03","05/04","05/05","05/06","05/07","05/08","05/09"],
                        datasets:[{
                          label:"Nombre d'heures de sport effectuées",
                          backgroundColor: '#f87979',
                          data: [2.5,3,1,2,1,1.5,2.5,1.5,3,1,2,1,1.5,2.5,1.5,3,1,2,1,1.5,2.5,1.5,3,1,1.5,5,1,1.5,1,3,2,2]
                        }]
                    };
                    break;
                  case "3":
                    this.dataclope={
                        labels:["Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre","Janvier","Février","Mars","Avril","Mai"],
                        datasets:[{
                          label:'Nombre de cigarettes économisées',
                          backgroundColor: '#f8c979',
                          data: ["3","2",'3','3','4','5','4','6','8','9','11','12'],

                        }]
                    };
                    this.datasport={
                        labels:["Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre","Janvier","Février","Mars","Avril","Mai"],
                        datasets:[{
                          label:"Nombre d'heures de sport effectuées",
                          backgroundColor: '#f87979',
                          data: ["1","1",'1','1.5','1.5','1.5','1','1','1.5','2','2','3'],

                        }]
                    };
                    break;
              }
        }
    },
  computed: {
    periode (){
        switch(this.$route.params.id){
            case "1":
                return "Sur la semaine";
            case "2":
                return "Sur le mois";
            case "3":
                return "Sur l'année";
        }
        return 'pas bon';
    }

  }
}
</script>

<style scoped>

</style>
