<template>
  <div id="app">
    

    <transition name="fade" mode="out-in">
      <router-view class="view"></router-view>
    </transition>
    <footer>
      <p
        class="mentions"
      > Guillaume Toussaint, Clément Nicaudie, Mathieu Leclaire, Morgane Coltel </p>
      <p class="credits">
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      </p>
    </footer>
  </div>
</template>

<script>
export default {
  name: "App"
};
</script>

<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.title {
  font-weight: bold;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}



a {
  color: #41b883;
}

a:hover {
  color: white;
}

h1 {
  margin: 0;
}
/*
footer {
  color: #41b883;
  text-align: center;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}*/

footer a {
  color: white;
}

footer a:hover {
  color: #35495e;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.mentions {
  font-size: 0.8em;
}
.credits {
  font-size: 0.6em;
}

.view {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
}
</style>
